/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "gridle/gridle";

@import "parseme/fonts";
@import "parseme/variables";

@import "parseme/layout";

@import "parseme/menus";
@import "parseme/classes";


@import "parseme/customisenews";
@import "parseme/scrollup";
@import "parseme/searchbox";

html {
  font-family: "OpenSans", Arial, sans-serif;
}

p {
  line-height: 1.4em;
}

$settings : (
  context : 12,
  gutter-width : 20px,
  direction : ltr );
  
@include gridle_setup($settings);

@include gridle_register_state ( mobile , (
  max-width : 480px,
  gutter-width : 10px
) );

// clear each classes :
@include gridle_register_clear_each(2, left);
@include gridle_register_clear_each(12, both);

@include gridle_register_column( '5on24' , 5, 24 );
@include gridle_register_column( '7on24' , 7, 24 );

// register states :
//@include gridle_register_default_states();
@include gridle_register_state(ipad-landscape, (
  query : "only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)",
  gutter-width : 0
));

@include gridle_generate_classes();