.taright {
   @include breakpoint(desktop) {text-align: right;}
}

.taright-mobile {
    @include breakpoint(phone) {text-align: right;}
}

.hidden  {
  display:none;
}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}

.nowrap {
  white-space: nowrap;
}

.of-hidden {
  overflow: hidden !important;
}

.bodytext {
  margin: 0 0 10px;
}

strong {
  font-weight: bold !important;
}
b {
  font-weight: bold !important;
}

/*
 * TEAM Formatting
 */

  .team-col-left {
    width: 50%;
    clear: left;
    float:left;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .team-col-right {
    width: 50%;
    float:left;
    text-align: center;
    margin-bottom: 20px;
  }


 @media screen and (max-width: 550px){
  .team-col-left {
    width: 100%;

  }
  
  .team-col-right {
    width: 100%;

  }
}
.team-col-left a, .team-col-right a {
  color: #000;
}

/**
 *   FontAwesome Einrückung
 */

.fa::before {
  margin-right: 5px;
}


