.news {
  
  .bodytext {
    margin: 10px 0;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  .more::before {
       content: "\f101";
       font-family: "FontAwesome";
  }
  
  .news-img-wrap {
    display: none !important;
  }
  
  .footer {
    display: none;
  }
  
  .header h3 {
    margin-top: 10px !important;
    font-weight: bold;
    color: $color_top_bar !important;
  }
  
  .date_box {
    @include breakpoint(desktop) { 
      position: relative;
      display: block;
      float: left;
      background: $color_top_bar;
      min-height: 150px;
      color: white;
      font-size: 24px;
      padding: 10px;
      vertical-align: bottom;
      margin-right: 10px;
      width: 130px;
    }
    
  }
  
  .date_box_odd {
    @include breakpoint(desktop) {
      position: relative;
      display: block;
      float: right;
      background: $color_top_bar;
      min-height: 150px;
      color: white;
      font-size: 24px;
      padding: 10px;
      
      vertical-align: bottom;
      margin-left: 10px;
      width: 130px;
    }
      }
  
  .date_box #date {
    @include breakpoint(desktop) { 
      position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 10px;
    }
     @include breakpoint(phone) { 
       position: relative;
       height: 1px;
       color:  $color_top_bar;
       opacity: 0.5;
       font-size: 100px;
       bottom: 1px;
       z-index: -1;
    right: 0px;
     }
    font-weight: bold;
    
    padding: 5px;
    }
    
  .date_box_odd #date {
    @include breakpoint(desktop) { position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 10px;
    }
     @include breakpoint(phone) { position: relative;
     color:  $color_top_bar;
     height: 1px;
      opacity: 0.5;
       font-size: 100px;
       bottom: 1px;
        z-index: -1;
    left: 0px; }
    font-weight: bold;
    
    
    padding: 5px;
    }
    
    .news-odd {
       @include breakpoint(desktop) {
    margin-left: 150px;
      }
    }
    
   .article {
      @include breakpoint(phone) {
        background: rgba(255,255,255,0.2) !important;
        padding: 0 10px !important;
       // margin-left: $mobilefix;
        }
   }
   
   .article .header , .article .bodytext {
     z-index : 100;
   }
 @include breakpoint(phone) {
    .news .grid-mobile-12 {
     // margin: 0 20px;
    }
  }
    
}
