.csc-form-element {
  min-height: 20px;
  margin: 0 0 20px 0;
  padding: 2px;
}

.csc-form-element input[type="text"]  {
  border: 1px solid $color_top_bar;
  margin: 5px 0 5px ;
}

.csc-form-element textarea  {
  border: 1px solid $color_top_bar;
  margin: 5px 0 5px ;
}

.csc-form-element input[type="submit"]
 {
   border: 1px solid $color_top_bar;
   background-color: white ;
   font-size: 18px;
   text-decoration: none;
   cursor: pointer;
   transition: all 0.5s;
 }


  
 .csc-form-element input[type="submit"]::before {
       content: "\f101";
       font-family: "FontAwesome";
  
  }
  
 
 *[type="submit"]:hover {

  color: $color_top_bar;
}
