.csc-form-element {
  min-height: 20px;
  margin: 0 0 20px 0;
 
}

.csc-form-element input[type="text"]  {
  position: relative;
  top: -8px;
  border: 1px solid $color_top_bar;
  margin: 10px 0 ;
   padding: 2px;
   font-size: 16px;
  @include breakpoint(desktop) { width: 50%; }
  @include breakpoint(phone) { width: 70%; }
}

.csc-form-element textarea  {
  position: relative;
  top: -8px;
  border: 1px solid $color_top_bar;
  margin: 10px 0  ;
   padding: 2px;
   font-size: 16px;
   @include breakpoint(desktop) { width: 50%; }
   @include breakpoint(phone) { width: 70%; }
}

.csc-form-element input[type="submit"]
 {
   border: 1px solid $color_top_bar;
   background-color: white ;
   font-size: 18px;
   text-decoration: none;
   cursor: pointer;
   transition: all 0.5s;
    padding: 5px;
 }
 
  @media screen and (max-width: 814px) {
   .csc-form-element label {
     position: relative;
     top: 0px;
     margin-bottom: 5px !important;
   }
 }
 
 @media screen and (min-width: 815px) {
   .csc-form-element label {
     position: relative;
     top: 6px;
   }
 }

.csc-form-element em {
  position: relative;
  top: 3px;
  text-transform: none!important;
  font-style: italic;
  font-size: 0.8em;
  color: $color_top_bar;
}

.csc-form-element {}

.csc-mailform {
  margin: 20px 0 0 0 ;
}
  
    .csc-mailform *[type="submit"] {
      background-color: $color_top_bar !important;
      color: white;
    }
 
 .csc-mailform *[type="submit"]:hover {
  
  background-color: white !important;
  color: $blau;
}

/*
 * NEWSLETTER ANMELDEN
 */
.newsletter {
  margin-top: 30px;
}
.newsletter {
    float: left;
    input.nemail {
      border:0 ;
      width: 110px;
      padding: 5px;
      margin: 0 -5px 0 0 ;
      color: #aaa;
    }
    
    input.nsubmit {
      border: 0;
      background-color: $color_footer;
      border: 1px solid $color_footer;
      color: white;
      //font-weight: bold;
      width: 100px;
      margin: 0;
  //    padding: 5px;
      transition: all 0.3s;
      height: 27px; 
    }
    
    @media screen and (-webkit-min-device-pixel-ratio:0) { 
  /* Safari and Chrome */
      input.nsubmit {
       height: 25px;
     }
}
    
    input.nsubmit:hover {
      background-color: $blau;
      color: white;
      border: 1px solid white;
  
    }
  
}  