.container {
//z-index: 50;
position: relative;
display: block; 
   @include breakpoint(desktop) {
      width: 960px;
    margin: 0 auto;
   }    
   @include breakpoint(phone) {
    margin: 0; //$mobilefix;
    width: 100%; //-$mobilefix;
  }
}

.shortcodes .container {
  @include breakpoint(phone) {
    padding: 16px 0 32px 0 !important;
  }
}
.grid-mobile-11 {
  @include breakpoint(phone) { width: 95% !important; }
}
/*
 * LANDING
 */



/*
 * TOP DEFINITIONS
 */

.top {
  background: $color_top_bar;
  line-height: 40px;
  height: 40px;
  color: white;
  font-size: $normal;
 // position: fixed !important; 
}
.top span {
  margin: 0 0 0 10px;   
}


/*
 * MENU DEFINITIONS
 */
.menu {
  position: relative;
  line-height: 20px;
  top: 0px;
  width: 100%;
 
  @include breakpoint(desktop) { //height: 20px !important;
  }
   @include breakpoint(phone) { height: 100px !important; }
  background: white !important;
   z-index: 600 !important;
}

.fixedmenu {
  position: fixed !important;
  top: 0;
  height: 80px;
  background: white !important;
  margin: 0 auto !important;
  box-shadow: 0px 3px 10px rgba(51,51,51,0.5);

}

.menu ul {
     @include breakpoint(desktop) {margin : 50px 0 0 0;}
}

.fixedmenu ul.mm {
      margin-top: 29px !important;
}

.fixedmenu img.logo_menu {
   @include breakpoint(desktop) {margin-top: 4px !important; height: 70px;}
}

.fixedmenu div * {
  @include breakpoint(phone) { 
//    position: relative;
 //   display: block; 
    }
}

.fixedslider {
  position: relative;
  margin-top: 123.5px !important;
}

.fixedtitle {
  position: relative;
  margin-top: 123.5px !important;
}


.menu img {
     @include breakpoint(desktop) {margin: 20px 0;}
       @include breakpoint(phone) {margin: 10px 0;
       position: absolute;
       top: 0px;
   //    left: $mobilefix;
       }
}


/*
 * SLIDER DEFINITIONS
 */
.slider-outer {
  //min-height: 350px;
  position: relative;
  display: block;
  background: none;
  width: 100%;
 // height: 304px;
 //z-index: 50;
 @include breakpoint(phone) {  
   
 // width: 100%;
  
 // background: url('../images/slider03.jpg') center center no-repeat;
 // background-size: cover; 
 }
}

.shortcodes {
  //position: relative;
// margin:  0 ;
}
/*
 * TITLE BAR
 */
.titlebar {
  height: 200px;
  background: url('../images/HKK_Banner_01.jpg') center center no-repeat;
  background-size: cover;
  color: white;
  
 }
 
 .titlebar * {
   z-index: 100;
 }
 
.titlebar { 
  h1 {
    font-size: 36px !important;
     @include breakpoint(desktop) {padding: 20px 0 20px 0;}
     @include breakpoint(phone) {padding: 20px 0 20px 0;
     }
    border-bottom: 1px solid white;
    text-shadow: 2px 2px 4px #000;
  }
  a {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  p {
    text-shadow: 2px 2px 4px #000;
  }
}

/*
 * SHORTCODES DEFINITIONS
 */

.shortcodes {
  .grid-4, .grid-mobile-11 {
    
    color: white;
   
  }
  .container {
     @include breakpoint(desktop) {padding: 55px 0;}
  }

  h1 {
    margin-top: 5px;
  }
  

}

  @media (max-width: 459px) {
      .shortcodes .grid-mobile-12 {
       max-width: 320px !important;
      }
  }
  
.sc {
   @include breakpoint(desktop) {background: $color_shortcodes;}
    @include breakpoint(tablet) {background-color: none !important;}
   @include breakpoint(phone) {
     background: $color_shortcodes;
    margin: 25px 0 ;
   }
   
   a {
     position: absolute;
     @include breakpoint(desktop) {bottom: 16px;padding-left: 20px;}
     @include breakpoint(phone) {bottom: 18px;padding-left: 10px;}
    // left: 10px;
     
   }
}

a.sclink {
  text-decoration : none;
  color: white;
}

a.articlelink {
  text-decoration: none;
  color: black !important;
}

.sc-image {
   @media (min-width: 460px) and (max-width: 995px) {
        display: none !important;
   }
   @include breakpoint(phone) {
     float: none;
     text-align: left;
      }

   
}
.sc-content {
   @include breakpoint(tablet) {
     min-height: 157px;
    padding: 10px 10px 20px 10px !important;// 0 10px 0px !important; // 305 = image width shortcodes
    }
   @include breakpoint(phone) {
     background: $color_shortcodes;
     
    padding: 10px 10px 20px 10px;
     }
   position: relative;
}

.sc-content h1 {
  font-size: 24px !important;
}

.sc .csc-header {
 @include breakpoint(desktop) { padding:0 20px;  }
 @include breakpoint(phone) { padding: 0 10px; }
 
}

.sc .bodytext {
  @include breakpoint(desktop) {padding: 0 20px 20px 20px; }
  @include breakpoint(phone) {padding: 0 10px 20px 10px; }
}

.sc {
  @include breakpoint(desktop) {
     display: block;
min-height: 408px;
  }
   @include breakpoint(phone) {
     display: block;
   }
}

.scleft {
  
   @include breakpoint(desktop) {
     position: relative;
    // padding-left: 0 !important;
  left: -9px;
   }
   @include breakpoint(phone) {
    margin-top: 20px; 
    }
}

.scmiddle {
   @include breakpoint(desktop) {
  position: relative;
//  left: -4px;
  }
 // margin: 0 5px !important;
}

.scright {
  @include breakpoint(desktop) {
  position: relative;
  left: 8px;
 // padding-right: 0 !important;
  }

}
/*
 * MAIN DEFINITIONS
 */
.main, .mainfollow, .partner {
  p {
   // text-align: justify;
  }
  
  .grid-10 .article {
    border: 1px solid #999;
    margin: 10px 0 ;
  }
  h1 {
 //   padding: 0 0 0 10px;
  }
   h1::before {
       content: "\f101";
       font-family: "FontAwesome";
       width : 25px;
       margin-right:10px;
  }
}

.main .container, {
  @include breakpoint(desktop) { padding: $container_padding; }
   @include breakpoint(phone) { padding: 40px 0px 50px 0; }
}

.mainfollow .container  {
    @include breakpoint(desktop) { padding: $container_padding; }
   @include breakpoint(phone) { padding: 20px 0px 40px 0; }
}

 @include breakpoint(phone) {
  .main .container {
    width: auto !important;
    padding-left: 20px;
    padding-right: 20px;
   // margin: 0 10px !important;
  }
}

.main {
  background: #eee;
}

.mainfollow {
  background: #fff;
  margin-bottom: 20px;
}

.article {
  background: #fff !important;
}

.content-wrap {
  display: table;
}

.mainl {
   @include breakpoint(desktop) {
  display: table-cell;
  border-right: 1px solid black;}
   @include breakpoint(phone) {
   margin-bottom: 10px;
   }
}

.mainl h6 {
   @include breakpoint(phone) { display:none; }
}

.mainl ul li {
   @include breakpoint(desktop) { 
        a {
        display: block;
        color: $color_top_bar;
        margin: 7px 0 15px 0 !important;
        font-size: 18px;
        line-height: 26px;
        text-decoration: none;
      }
      
      a:hover {
        font-weight: bold;
      }
    }
    
     @include breakpoint(phone) {
     
      a {
      float: left;
       display: inline-block;
       padding: 5px;
       color: $color_top_bar;
       margin:5px 5px 5px 0;
       font-size: 16px;
       text-decoration: none;
     }
     
     #sidecurrent a, a:hover {
       color: white !important;
       background-color: $color_top_bar !important;
       
     }
     
        
     }
}

.mainr {
  p {
    line-height: 1.5em;
    
  }

}

/*
 * PARTNER DEFINITIONS
 */
.partner {
  p {
    text-align: justify;
  }
  
  h1::before {
       content: "\f101";
       font-family: "FontAwesome";
  
  }
  
  img {
    margin: 0 3px 0 0 !important;
    padding: 0 !important;
  }
  
  div.csc-textpic-imagecolumn {
    margin: 0 !important;
  }
}

.partner .container {
 padding: $container_padding;
}

.csc-textpic-imagecolumn img  {
  margin: auto 10px;
  height: 70px;
  width: auto;
}

.partner {
  
  .csc-textpic-imagecolumn {
    @include breakpoint(desktop) {width: 20% !important;}
    @include breakpoint(phone) {margin: 0 20px !important;}
  }
  
  .csc-textpic-imagecolumn figure {
    @include breakpoint(desktop) {margin: 0 auto 0 auto !important;}
    @include breakpoint(phone) {margin:  0 20px !important; }
  }
  .csc-textpic-center-inner {
   @include breakpoint(desktop) {width: 948px !important;}
  }
  
  .csc-textpic-lastcol figure {
   @include breakpoint(desktop) { margin:  0 0 0 auto !important;}
  }
  .csc-textpic-firstcol figure {
   @include breakpoint(desktop) { margin:  0 auto 0 0 !important;}
  }
}
/*
 * BOTTOM DEFINITIONS
 */
.bottom {
  background: $color_top_bar;
 // height: 400px;
  color: white;
  font-size: $bottom;
}

.bottom {
    .container {
      padding: $container_padding;
    }
  
     p {
      margin: 0 0 10px 0 ;
    }
    .logo_bottom img {
      height: 276px;
    }
    
    .grid-mobile-11 {
      margin-bottom: 50px;
    }
}
.contact_bottom .fa {
  width: 25px;
}



.bottom , .sc , .top {
  
  a{
   color: white;
  text-decoration: none; 
  line-height: 1.5em;
  }
  
  a:hover {
    
    text-decoration: underline;
  }  
}

.newsletter_bottom, .sitemap_bottom {
   @include breakpoint(phone) {margin-top: 20px;}
}
/*
 * FOOTER DEFINITIONS
 */
.footer {
 // min-height: 70px;
  @include breakpoint(desktop) { line-height: 70px; }
   @include breakpoint(phone) { line-height: 30px;
   padding: 10px 0; }
  background: $color_footer;  
   @include breakpoint(desktop) {font-size: $small; }
    @include breakpoint(phone) { font-size: $smaller; }
  color: white;
}

.footer {
  a {
  color: white;
  text-decoration: none;
  display: inline;
  }
  a:hover {
    text-decoration: underline;
  }
}

/*
 * IMPRINT
 */


.imprintbold > p {
  margin: 0 0 5px 0 !important;
}
