.container {
  margin: 0 auto;
  width: 960px;
}
/*
 * TOP DEFINITIONS
 */

.top {
  background: $color_top_bar;
  line-height: 40px;
  height: 40px;
  color: white;
  font-size: $normal;
}
.top span {
  margin: 0 0 0 10px;   
}

/*
 * MENU DEFINITIONS
 */
.menu {
  line-height: 20px;
  height: 120px;
  background: white;
}

.menu img {
    margin: 20px 0;
}

.menu ul {
    margin : 50px 0;
}
/*
 * SLIDER DEFINITIONS
 */
.slider {
  height: 350px;
  
  background: url('../images/slider03.jpg') center center no-repeat;
  background-size: cover;
}
/*
 * TITLE BAR
 */
.titlebar {
  height: 200px;
  background: url('../images/slider03.jpg') center center no-repeat;
  background-size: cover;
  color: white;
 }
.titlebar { 
  h1 {
    font-size: 36px !important;
    padding: 0 0 20px 0;
    border-bottom: 1px solid white;
  }
  a {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
}

/*
 * SHORTCODES DEFINITIONS
 */

.shortcodes {
  .grid-4 {
    
    color: white;
   
  }
  .container {
    padding: $container_padding;
  }
  

}
.sc {
  background: $color_shortcodes;
}

.sc .csc-header {
  padding:0 10px;  
}

.sc .bodytext {
  padding: 0 10px 10px 10px; 
}

.sc {
  display: block;
  min-height: 375px;
}

.scleft {
  position: relative;
  left: -9px;

}

.scmiddle {
  position: relative;
  left: -4px;
 // margin: 0 5px !important;
}

.scright {
  
}
/*
 * MAIN DEFINITIONS
 */
.main {
  p {
    text-align: justify;
  }
  
  .grid-10 {
    border: 1px solid #999;
    margin: 10px 0 ;
  }
  
   h1::before {
       content: "\f101";
       font-family: "FontAwesome";
  
  }
}

.main .container {
 padding: $container_padding;
}

.main {
  background: #eee;
}

.article {
  background: #fff !important;
}

.content-wrap {
  display: table;
}

.mainl {
  
  display: table-cell;
  border-right: 1px solid black;
}

.mainl ul li {
    a {
      display: block;
      color: $color_top_bar;
      margin: 7px 0 !important;
      font-size: 18px;
      text-decoration: none;
    }
    
    a:hover {
      font-weight: bold;
    }
}

.mainr {
  p {
    line-height: 1.5em;
    
  }

}

/*
 * PARTNER DEFINITIONS
 */
.partner {
  p {
    text-align: justify;
  }
  
  h1::before {
       content: "\f101";
       font-family: "FontAwesome";
  
  }
}

.partner .container {
 padding: $container_padding;
}


/*
 * BOTTOM DEFINITIONS
 */
.bottom {
  background: $color_top_bar;
 // height: 400px;
  color: white;
  font-size: $bottom;
}

.bottom .container {
  padding: $container_padding;
}

.bottom p {
  margin: 0 0 10px 0 ;
}

.contact_bottom .fa {
  width: 25px;
}

.bottom .logo_bottom img {
  height: 300px;
}

.bottom , .sc , .top {
  
  a{
   color: white;
  text-decoration: none; 
  line-height: 1.5em;
  }
  
  a:hover {
    
    text-decoration: underline;
  }  
}
/*
 * FOOTER DEFINITIONS
 */
.footer {
  height: 70px;
  line-height: 70px;
  background: $color_footer;  
  font-size: $small;
  color: white;
}

.footer {
  a {
  color: white;
  text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}
