.mainr {
  
  ul{
    margin: 28px 0 28px 0;
    background-color: #eee;
    padding : 20px 20px 8px 20px;
  }

  
ul li {
  position: relative;
  left: 17px;
  line-height: 30px;
  padding-right: 20px;
  // list-style-type: circle !important; 
  padding-left: 10px; 
  padding-bottom: 10px;
}

 ul li:before {
   position: absolute;
  content: '\f111'; /* FontAwesome char code inside the '' */
  font-family: "FontAwesome"; /* FontAwesome or whatever */
  display: inline-block;
  color: $color_top_bar;
  font-size: 7px;
  margin:0 5px 0 -20px;
 // margin-left: -1.5em; /* same as padding-left set on li */
}
}
