/*
 * MENU DEFINITIONS
 */

.menu ul {
	list-style-type: none;
}

.menu ul {
	li {
		display: inline-block;
		a {
		  padding: 10px;
      margin-left: 5px;
      text-decoration: none;
      color: black;
		}
		
	}
	
	a:hover {
	  background: $menu_highlight;
	  color: white;
	}
}