/*
 * MENU DEFINITIONS
 */

.menu ul {
	 @include breakpoint(desktop) { 
	   list-style-type: none;
  	position: relative;
  	left: -52px;
  	z-index:500;
	}
}

.menu ul {
  @include breakpoint(desktop) { 
  	li {
  		display: inline-block;
  		a {
  		  padding: 10px 10px 11px 10px;
        margin-left: 5px;
        text-decoration: none;
        color: black;
        transition: all 0.3s;
  		}
  		
  	}
  	
  	a:hover, #navicurrent a {
  	  background: $menu_highlight;
  	  color: white;
  	}
	}
	 @include breakpoint(phone) {
	  
	     li {
     
      a {
       // padding: 0 20px 0 0 ;
        display: block;
       position: relative;
    //  width: 100%;
      height: 20px ;
     border-top: 1px solid #fff;
    //  opacity: 0;
      background: $menu_highlight;
        padding: 10px 19px 10px 10px !important ;
        margin-right: 0px;
        text-decoration: none;
        color: white;
        transition: all 0.3s;
        
      }
      
    }
    
    a:hover {
      background: white;
      color: black;
    }
	 }
	 
	 
}

.menu ul {
  text-align: right;
   @include breakpoint(phone) {
   position: absolute;
   // z-index:0 !important;
     width: 100%;
     top: 100px; 
     right: 0px;
     }
}

.menu ul.expanded {
   @include breakpoint(phone) {
     //z-index: 5000 !important;
     }
}

.ulmenu ul {
   @include breakpoint(desktop) {display: block; }
  @include breakpoint (phone) {display: none; width:100%;}
  z-index: 500;
}

 

 @include breakpoint(phone) {
   
   .burger {
     float: right;
     cursor: pointer;
     z-index: 500;
     position: absolute;
     right: 8px;
     // border: 1px dashed $cyan;
     top: 25px;     
     display: block;
     height: 40px ;
     width: 40px ;
     padding: 5px 5px;
     border: 0px solid #aaa;
     border-radius: 0px;
   }
   
   .burger:hover div {
     background-color: $color_top_bar;
   }   
   .burger div {
     height: 2px;
     background-color: $color_footer ;
     width: 30px;
     margin: 8px 5px;
       -webkit-transition: all 0.5s; /* Safari */
          transition: all 0.5s;
  }
  
  .expanded a {
  //  display: block !important;
    z-index:5000 !important;
    height: 20px !important;
    opacity: 1 !important;
  //  padding-right: 20px;
  }
   
 }
 
.menu {
   @include breakpoint(phone) {
      position: relative;
      width: 100%;
      z-index: 500;
      right: 0px;
      top: 0px;
      display: block;
     // height: 120px;
     // height: 96px;
   }
 
}

.sidehead a {
  font-size: 26px !important;
  color: black !important;
  margin: 0 0 25px 0 !important;
}
.sidehead a:hover {
  font-weight: normal !important;
}

 @include breakpoint(phone) {
  .sidehead {
    display: none;
  } 
 }

#sidecurrent a {
  font-weight: bold !important;
}

.mm li {
  opacity: 1 !important;
  transition: all 0.6s ease;
}

.mm li.hide-li {
  opacity: 0 !important;
  z-index: -999 !important;
}
