.scrollup div {
  height: 59px; width: 59px; display: inline-block;
  margin: -2em auto 0 auto;
  position: absolute;
  text-align: center;
  z-index: 9998 !important;
  left: 50%;
  top: 0px;
  margin-left: -30px;
  background-image: url(../images/scrollup_ia.png);
}

.fixscrollup div {
  @include breakpoint(phone) { top: 40px !important;}
}

.scrollup a {
  height: 59px; width: 59px; display: inline-block;
// position: relative;
 // margin: 0 auto;
 background-image: url(../images/scrollup_a.png);
  opacity: 0 !important;
  transition: all 0.4s; //TODO Tobi fragen 
//  z-index: 9999;
}

.scrollup a:hover {
  opacity: 1 !important;
  
}
