.indexedsearch {
  position: relative;
  top: -31px;
  float: right;
  //height: 60px;
   // z-index: 100;
    transition: all 0.3s;
     @include breakpoint(phone) { display: none; }
}

.searchbox-sword {

 border: 0px;
 padding: 2px;
 background-color: white;
  height: 20px;
 
}
.sword-border {
  position: relative;
  float: left;
  //opacity: 0;
   z-index: -9999;
  display:inline-block;
  background-color:white;
  top: 0px;
  //left: 5px;
 // height: 43px;
  padding: 10px 0 10px 10px;
   background-color: $menu_highlight;
}

.searchbox-button {
   //height: 43px;
   padding: 15px 10px 15px 10px;
   z-index: 9999;
}

.fill {
  background-color: $menu_highlight !important;
}


form#tx_indexedsearch {
  input, select {
      position: relative;
  //top: -8px;
  border: 1px solid $color_top_bar;
  margin: 2px 0 2px 10px;
   padding: 2px;
   font-size: 16px;
  }
}

.tx-indexedsearch-browsebox {
  padding: 0 0 10px 0 ;
}

.tx-indexedsearch-res {
  table {
    margin: 10px 0;
  }
  td {
    line-height: 1.4em;
    margin-bottom: 5px;
  }
}

// Ausgabe

.tx-indexedsearch {
  ul.browsebox {
    background-color: white !important;
    margin: 20px 0 !important;
    padding: 0 !important;
    
    li::before {
      content: "" !important;
    }
    
    li {
      left: 0px !important;
    }
  }
  
  .tx-indexedsearch-browselist-currentPage a{
    text-decoration: none !important;
  }
  
  .tx-indexedsearch-descr {
    position: relative;
    left: 5px;
    line-height: 27px !important;
  }
  
  .tx-indexedsearch-info {
    padding: 10px;
    font-size: $small;
  }
}
