
// VARIABLES
$color_top_bar : #208ccc;
$menu_highlight : #208ccc;
$color_shortcodes : #208ccc;
$color_footer : #333333;

//FONT SIZES
$smaller: 11px;
$small : 13px;
$normal : 14px;
$bottom : 15px;

//FIXES
$mobilefix : 2.5%;

$container_padding : 40px 0;